/* set pseudo-class global variables */

:root {
    --main-background-color: rgb(202, 237, 202);
    --main-container-color: white;
    --main-text-color: black;
    --main-shadow-color: rgb(119, 153, 119);
    --button-text-color: white;
    --button-hover-color: rgb(119, 153, 119);
}

/* set base styling */

* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    color: var(--main-text-color);
}

body {
    background-color: var(--main-background-color);
}
/* navbar */

header nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* main content */

main {
    display: flex;
    background-color: var(--main-container-color);
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px var(--main-shadow-color);
    max-width: fit-content;
}

.start-screen {
    text-align: center;
}

.qs {
    font-size: 25px;
    font-weight: bold;
}

.ans {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.hide {
    display: none;
}

.ans button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-text-color)
}